@import "../utility.scss";

main {
  div.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    div.login-enter {
      label {
        padding-right: 1em;
      }
      margin: 1.5em;
    }
    button.button-link {
      margin: 0.5em;
      background-color: $buttonColor;
      border: none;
      color: $buttonTextColor;
      border-radius: 1em;
      cursor: pointer;
      transition: 0.25s ease-in-out;
      box-shadow: none;
      width: 100%;
      &:hover {
        transition: 0.25s ease-in-out;
        background-color: $buttonTextColorActive;
        letter-spacing: 0.05em;
        box-shadow: bottom-shadow(3), top-shadow(3);
        width: 110%;
        height: 110%;
      }
    }
  }
}
