@charset "UTF-8";
div.movie-info {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
@media (max-width: 850px) {
  div.movie-info {
    flex-direction: column;
  }
}
div.movie-info img.last-watched-poster {
  max-height: 20%;
  max-width: 20%;
  margin-right: 1em;
}
@media (max-width: 850px) {
  div.movie-info img.last-watched-poster {
    max-width: 50%;
  }
}
div.movie-info div.last-watched-info {
  max-width: 20em;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
div.movie-info div.last-watched-info input[type=submit] {
  display: inline-flex;
  border: none;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  width: 100%;
  font-size: medium;
  margin: 1em 0.25em;
  align-items: center;
  align-self: center;
  background-color: teal;
  color: white;
  transition: ease-in-out 0.25s;
}
div.movie-info div.last-watched-info input[type=submit]:hover {
  background-color: gold;
  transition: ease-in-out 0.25s;
  letter-spacing: 0.05em;
}
div.movie-info div.last-watched-info iframe.movie-trailer {
  align-self: center;
}
@media (max-width: 850px) {
  div.movie-info div.last-watched-info iframe.movie-trailer {
    width: 448px;
    height: 252px;
    justify-self: center;
    max-width: 90vw;
  }
}
div.movie-info div.last-watched-info div.rec-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
div.movie-info div.last-watched-info div.rec-rating a button {
  width: 15em;
  height: 2.5em;
}
@media (max-width: 850px) {
  div.movie-info div.last-watched-info div.rec-rating a button {
    width: 55vw;
  }
}
div.movie-info div.last-watched-info div.rec-rating a#rating-no button {
  background-color: red;
}
div.movie-info div.last-watched-info div.rec-rating a#rating-mid button {
  background-color: black;
}
div.movie-info div.last-watched-info h4.where-to-watch a {
  color: teal;
  text-decoration: none;
  transition: ease-in-out 0.25s;
}
div.movie-info div.last-watched-info h4.where-to-watch a:hover {
  color: gold;
  letter-spacing: 0.05em;
  transition: ease-in-out 0.25s;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
  color: gold;
}
.rate > input:checked ~ label {
  color: gold;
}
.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label {
  color: gold;
}

.movie-rate-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.movie-rate-info #movie-rating-submit {
  width: 5em;
  height: 2em;
}/*# sourceMappingURL=rate.css.map */