@import "../utility.scss";

div.profile-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: fit-content;
  @media (max-width: 850px) {
    flex-direction: column;
  }

  div.profile-info {
    max-width: 20em;
    ul {
      list-style-type: none;
      li {
        margin-left: -2em;
      }
    }
  }
  button.button-link {
    width: 15em;
    height: 2.5em;
    @media (max-width: 850px) {
      width: 55vw;
    }
    &#logout-button {
      background-color: red;
    }
  }
}

div.edit-modal {
  label {
    padding-right: 1em;
  }
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    input,
    select {
      width: 15em;
      font-size: 1.25em;
      // border-radius: 0.5em;
      border: transparent;
      border-bottom: 2px black solid;
      margin: 0.25em;
      &:active,
      &:focus {
        border: transparent;
        border-bottom: 2px black solid;
        outline: none;
      }
      &[type="checkbox"] {
        width: auto;
        accent-color: $buttonColor;
      }
    }
    button.button-link {
      margin: 0.5em;
      background-color: $buttonColor;
      border: none;
      color: $buttonTextColor;
      border-radius: 1em;
      cursor: pointer;
      transition: 0.25s ease-in-out;
      box-shadow: none;
      width: 5em;
      height: 1.5em;
      &:hover {
        transition: 0.25s ease-in-out;
        background-color: $buttonTextColorActive;
        // color: black;
        letter-spacing: 0.05em;
        box-shadow: bottom-shadow(3), top-shadow(3);
        width: 6em;
        height: 2em;
      }
    }
  }
}
